@model Apartment.Models.Inventory

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<fieldset>
    <legend>Inventory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { ItemID = ViewBag.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
